.form-item input,
select,
textarea {
  width: 350px;
  font-size: 16px;
  background-color: white;
  border: 1px solid rgb(170, 170, 170);
}
pre {
  font-size: 16px;
}
label {
  display: inline-block;
  text-align: left;
  width: 150px;
}
.wrapper {
  margin: 10px auto;
  text-align: center;
  width: 500px;
}
.form-item {
  padding-bottom: 5px;
  font-size: 18px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.item-group {
  font-size: 18px;
  display: flex;

  margin: 0 auto;
  justify-content: left;
  align-items: flex-start;
  padding-bottom: 10px;
}
.item-group p {
  margin: 0;
  text-align: left;
  width: 150px;
}
button {
  font-size: 16px;
  padding: 3px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
.submit {
  color: white;
  background-color: rgb(65, 65, 252);
  margin-right: 20px;
}
.reset {
  color: gray;
  background-color: rgb(245, 242, 242);
}
.content {
  background-color: rgb(202, 202, 202);
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
.content p {
  margin: 0;
}
.invalid {
  border: 1px solid red !important;
}

.submit:disabled {
  background-color: rgb(156, 156, 255);
  cursor: not-allowed;
}
.reset:disabled {
  background-color: rgb(190, 190, 190);

  cursor: not-allowed;
}
.box-item {
  margin-left: 15px !important;
}
